* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  border: 2px solid black;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-data {
  width: 70%;

  display: flex;
  justify-content: center;
  text-align: center;
  gap: 2rem;
  padding: 2rem;
}
.container-input{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    gap: 1rem;
    padding: 2rem;
}

.container-input input {
  width: 150px;
  height: 25px;
}
.container-result{
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-result input {
  width: 175px;
  height: 75px;
  text-align: center;
}

input,
.container-data
{
    border: 2px solid black;
    border-radius: 10px;
}

.hesapla{
  width: 17rem ;
  height: 3rem;
  border-radius: 2rem;
}