* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-data {
  width: 70%;

  padding: 2rem;
  display: flex;
  gap: 2rem;
  text-align: center;
  justify-content: center;
}
.container-input{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.container-input input {
  width: 150px;
  height: 25px;
}
.container-result{
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-result input {
  width: 175px;
  height: 75px;
  text-align: center;
}

input,
.container-data
{
    border: 2px solid black;
    border-radius: 10px;
}